{% with feed_url="https://insights.ubuntu.com/topic/"|add:level_1|add:"/feed/" %}
{% get_feed feed_url as feed %}

<div class="row row-grey">
    <h2 class="twelve-col">Further reading from Ubuntu Insights</h2>

    <ul class="no-bullets vertical-divider med-six-col"><ul class="no-bullets smaller">
    {% for item in feed %}
        <li class="three-col">
            <span class="note clearfix">{{item.category}}</span>
            <a href="{{item.link}}">{{item.title}}&nbsp;&rsaquo;</a>
            <span class="date note clearfix">{{item.nicedate}}</span>
        </li>
    {% endfor %}
    </ul>
    <p>
        <a href="https://insights.ubuntu.com">Read more on Ubuntu Insights&nbsp;&rsaquo;</a>
    </p>
</div>

{% endwith %}
